.sidebar {
    min-height: 100vh;
    background-color: #0B2436;
    flex-direction: column;
    overflow: hidden;
}

.toggle-button {
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.menu-icon {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
    min-width: 1.5rem;
}

.buttons {
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
}

.home {
    flex-direction: row;
    background-color: transparent;
    border-radius: 45px;
    min-height: 2.5rem;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.home.active {
    background-color: #2E23A7;
}

.home:hover {
    cursor: pointer;
}

.home-flex {
    align-items: center;
    align-content: center;
}

.house-icon {
    color: white;
    font-size: 1.5rem;
    min-width: 1.5rem;
    z-index: 10;
}

.hometext {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.calendar {
    flex-direction: row;
    background-color: transparent;
    border-radius: 45px;
    min-height: 2.5rem;
    align-items: center;
    align-content: center;
}

.calendar:hover {
    cursor: pointer;
}

.calendar-flex {
    align-items: center;
    align-content: center;
}

.calendar-icon {
    color: white;
    font-size: 1.5rem;
    min-width: 1.5rem;
    z-index: 10;
}

.calendartext {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.logout {
    flex-direction: row;
    background-color: transparent;
    border-radius: 45px;
    min-height: 2.5rem;
    align-items: center;
    align-content: center;
    margin-top: 25rem;
}

.logout:hover {
    cursor: pointer;
}

.logout-flex {
    align-items: center;
    align-content: center;
}
.logout-icon {
    color: white;
    font-size: 1.5rem;
    min-width: 1.5rem;
    z-index: 10;
}

.logouttext {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.hometext, .calendartext, .logouttext {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: opacity 0.3s ease 0.1s, visibility 0s 0.3s, transform 0.3s ease;
}

.fade-in {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.3s ease, visibility 0s 0s, transform 0.3s ease;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease;
}